@import "./assets/material-symbols.css";
@import "./assets/github-dark-dimmed.css";

body {
  color: #c7c2bb;
  background-color: #2d303b;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", "Lucida Console", "Monaco", monospace;
}

a {
  color: #60a8e5;
  text-decoration: none;

  &:hover {
    color: #80b9ea;
    font-weight: bold;
  }
}
